n8n/workflows/daily_digest.workflow.json
{
  "name": "LinkedIn Discourse Intelligence - Daily Digest MVP",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 8 * * *"
            }
          ]
        }
      },
      "id": "7f36b79c-29fb-49f8-a02c-3fbc6ec77691",
      "name": "Daily Schedule",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -980,
        -120
      ]
    },
    {
      "parameters": {},
      "id": "a6f9296b-4f8a-4d2a-b87a-f324a8772a58",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -980,
        120
      ]
    },
    {
      "parameters": {
        "jsCode": "const parseJson = (value) => {\n  if (!value) return null;\n  try {\n    return JSON.parse(value);\n  } catch {\n    return null;\n  }\n};\n\nconst parseList = (value, fallback) => {\n  if (value === null || value === undefined || value === '') return fallback.slice();\n  if (Array.isArray(value)) return value.map((entry) => String(entry).trim()).filter(Boolean);\n  const text = String(value).trim();\n  if (!text) return fallback.slice();\n  try {\n    const parsed = JSON.parse(text);\n    if (Array.isArray(parsed)) return parsed.map((entry) => String(entry).trim()).filter(Boolean);\n  } catch {\n    // Fall through to comma/newline splitting.\n  }\n  return text.replaceAll(String.fromCharCode(13), ',').replaceAll(String.fromCharCode(10), ',').split(',').map((entry) => String(entry).trim()).filter(Boolean);\n};\n\nconst defaultKeywords = [\n  'assortment planning',\n  'fashion merchandising',\n  'retail transformation',\n  'experiential retail',\n  'editorial retail',\n  'luxury retail clienteling',\n  'customer decision making retail',\n  'merchandising blind spots',\n  'product customer mismatch'\n];\n\nconst configuredInput = parseJson($env.APIFY_TASK_INPUT_JSON);\nconst searchQueries = parseList(\n  (configuredInput && configuredInput.searchQueries !== undefined ? configuredInput.searchQueries : null) ||\n    $env.SEARCH_QUERIES_JSON ||\n    $env.APIFY_SEARCH_QUERIES_JSON ||\n    $env.SEARCH_QUERIES ||\n    $env.APIFY_SEARCH_QUERIES ||\n    '',\n  defaultKeywords\n);\nconst taskInput = Object.assign({}, configuredInput || {});\ntaskInput.searchQueries = searchQueries;\ntaskInput.maxPosts = Number((configuredInput && configuredInput.maxPosts) || $env.APIFY_MAX_POSTS || 5);\ntaskInput.maxReactions = Number((configuredInput && configuredInput.maxReactions) || $env.APIFY_MAX_REACTIONS || 5);\ntaskInput.postNestedComments = false;\ntaskInput.postNestedReactions = false;\ntaskInput.scrapeComments = false;\ntaskInput.scrapeReactions = false;\n\nreturn [{\n  json: {\n    apify_input: taskInput,\n    search_queries: searchQueries,\n    search_keywords_text: searchQueries.join(', '),\n    min_score: Number($env.TELEGRAM_MIN_SCORE || 60),\n    max_links_per_keyword: Number($env.TELEGRAM_MAX_LINKS_PER_KEYWORD || 5),\n    seen_at: new Date().toISOString()\n  }\n}];"
      },
      "id": "f0f4f0e6-6a2a-4d7d-8c76-4a08e0e7f4f3",
      "name": "Prepare Apify Posts Task Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -840,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.apify.com/v2/actor-tasks/{{$env.APIFY_POSTS_TASK_ID || $env.APIFY_TASK_ID}}/run-sync-get-dataset-items?token={{$env.APIFY_TOKEN}}&timeout={{$env.APIFY_TIMEOUT_SECONDS || 300}}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{$json.apify_input}}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          },
          "timeout": 360000
        }
      },
      "id": "a645883f-13b6-46a8-bd67-3eb915df2be0",
      "name": "Run Apify Posts Task",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -600,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "const source = items[0] && items[0].json ? items[0].json : {};\nconst run = source.data && typeof source.data === 'object' ? source.data : source;\nconst datasetId = run.defaultDatasetId || (run.defaultDataset && run.defaultDataset.id) || (run.storageIds && run.storageIds.datasets && run.storageIds.datasets.default) || '';\nif (!datasetId) throw new Error('Apify run response did not include defaultDatasetId');\nreturn [{\n  json: {\n    dataset_id: String(datasetId),\n    apify_run_id: String(run.id || source.id || ''),\n    apify_run_status: String(run.status || source.status || ''),\n    apify_run: run,\n    seen_at: new Date().toISOString()\n  }\n}];"
      },
      "id": "af480606-34cd-4df7-81e6-c78307b868b3",
      "name": "Extract Apify Posts Dataset ID",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -440,
        0
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://api.apify.com/v2/datasets/{{$json.dataset_id}}/items?token={{$env.APIFY_TOKEN}}&clean=1&format=json",
        "sendHeaders": false,
        "sendBody": false,
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          },
          "timeout": 360000
        }
      },
      "id": "c690dd0d-d9e0-43ac-b32e-acbc9274526a",
      "name": "Fetch Apify Posts Dataset Items",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -220,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "const rows = [];\nfor (const item of items) {\n  const value = item.json;\n  if (Array.isArray(value)) rows.push(...value);\n  else if (Array.isArray(value.items)) rows.push(...value.items);\n  else if (Array.isArray(value.data)) rows.push(...value.data);\n  else rows.push(value);\n}\n\nconst pick = (obj, keys) => {\n  for (const key of keys) {\n    const value = obj && obj[key];\n    if (value !== undefined && value !== null && value !== '') return value;\n  }\n  return '';\n};\nconst clean = (value) => String(value || '').replace(/<[^>]+>/g, ' ').replace(/\\s+/g, ' ').trim();\nconst hash = (input) => {\n  let h = 2166136261;\n  const text = String(input || '');\n  for (let i = 0; i < text.length; i += 1) {\n    h ^= text.charCodeAt(i);\n    h += (h << 1) + (h << 4) + (h << 7) + (h << 8) + (h << 24);\n  }\n  return (h >>> 0).toString(36);\n};\nconst toAirtableDate = (value) => {\n  if (value === null || value === undefined || value === '') return null;\n  if (value instanceof Date) return Number.isNaN(value.getTime()) ? null : value.toISOString();\n  if (typeof value === 'number') {\n    const date = new Date(value > 1e12 ? value : value * 1000);\n    return Number.isNaN(date.getTime()) ? null : date.toISOString();\n  }\n  if (typeof value === 'string') {\n    const parsed = new Date(value);\n    return Number.isNaN(parsed.getTime()) ? value : parsed.toISOString();\n  }\n  if (typeof value === 'object') {\n    const candidates = [value.iso, value.value, value.datetime, value.dateTime, value.publishedAt, value.published_at, value.time, value.timestamp, value.ts, value.date, value.createdAt, value.created_at];\n    for (const candidate of candidates) {\n      const converted = toAirtableDate(candidate);\n      if (converted) return converted;\n    }\n    return null;\n  }\n  const parsed = new Date(String(value));\n  return Number.isNaN(parsed.getTime()) ? null : parsed.toISOString();\n};\nconst makeAuthor = (source, fallbackName, fallbackUrl) => {\n  const author = source || {};\n  const name = clean(pick(author, ['name', 'fullName', 'author_name', 'authorName', 'userName', 'profileName']) || fallbackName);\n  const url = String(pick(author, ['url', 'linkedinUrl', 'profileUrl', 'author_url', 'authorUrl', 'authorProfileUrl']) || fallbackUrl || '');\n  const role = clean(pick(author, ['headline', 'role', 'title', 'authorRole', 'authorHeadline']) || '');\n  return {\n    canonical_id: String(url || name || 'author:' + hash(fallbackName || fallbackUrl || 'unknown')),\n    name: name || 'Unknown author',\n    url,\n    role\n  };\n};\nconst toComment = (comment, index) => {\n  const author = comment.author || comment.user || comment.profile || {};\n  return {\n    canonical_id: String(pick(comment, ['canonical_id', 'id', 'urn']) || 'comment:' + index + ':' + hash(JSON.stringify(comment).slice(0, 500))),\n    author_name: clean(pick(author, ['name', 'fullName']) || pick(comment, ['authorName', 'userName', 'name'])),\n    author_url: String(pick(author, ['url', 'linkedinUrl', 'profileUrl']) || pick(comment, ['authorUrl', 'profileUrl']) || ''),\n    text: clean(pick(comment, ['text', 'commentText', 'content', 'body']))\n  };\n};\n\nconst normalized = [];\nconst scoringSchema = {\n  \"type\": \"object\",\n  \"additionalProperties\": false,\n  \"required\": [\n    \"canonical_id\",\n    \"content_type\",\n    \"language\",\n    \"author_type\",\n    \"author_score\",\n    \"post_score\",\n    \"comment_score\",\n    \"discussion_value\",\n    \"strategic_interaction_potential\",\n    \"recommended_action\",\n    \"relevance_tags\",\n    \"low_value_flags\",\n    \"emerging_themes\",\n    \"why_relevant\",\n    \"key_thesis\",\n    \"rationale\",\n    \"confidence\"\n  ],\n  \"properties\": {\n    \"canonical_id\": {\n      \"type\": \"string\",\n      \"description\": \"Stable ID for the analyzed post or comment.\"\n    },\n    \"content_type\": {\n      \"type\": \"string\",\n      \"enum\": [\n        \"post\",\n        \"comment\",\n        \"post_with_comments\"\n      ]\n    },\n    \"language\": {\n      \"type\": \"string\",\n      \"enum\": [\n        \"en\",\n        \"it\",\n        \"fr\",\n        \"es\",\n        \"other\",\n        \"unknown\"\n      ]\n    },\n    \"author_type\": {\n      \"type\": \"string\",\n      \"enum\": [\n        \"thinker\",\n        \"interpreter_connector\",\n        \"operator\",\n        \"promoter\",\n        \"unknown\"\n      ]\n    },\n    \"author_score\": {\n      \"type\": \"integer\",\n      \"minimum\": 0,\n      \"maximum\": 100\n    },\n    \"post_score\": {\n      \"type\": \"integer\",\n      \"minimum\": 0,\n      \"maximum\": 100\n    },\n    \"comment_score\": {\n      \"type\": \"integer\",\n      \"minimum\": 0,\n      \"maximum\": 100\n    },\n    \"discussion_value\": {\n      \"type\": \"integer\",\n      \"minimum\": 0,\n      \"maximum\": 100\n    },\n    \"strategic_interaction_potential\": {\n      \"type\": \"integer\",\n      \"minimum\": 0,\n      \"maximum\": 100\n    },\n    \"recommended_action\": {\n      \"type\": \"string\",\n      \"enum\": [\n        \"follow\",\n        \"connect\",\n        \"comment\",\n        \"monitor\",\n        \"quote_post_candidate\",\n        \"ignore\"\n      ]\n    },\n    \"relevance_tags\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"string\",\n        \"enum\": [\n          \"merchandising\",\n          \"assortment_planning\",\n          \"retail_transformation\",\n          \"editorial_retail\",\n          \"experiential_retail\",\n          \"luxury_retail\",\n          \"clienteling\",\n          \"customer_decision_making\",\n          \"subjective_decision_layer\",\n          \"mismatch\",\n          \"blind_spots\",\n          \"retail_intelligence\",\n          \"industry_evolution\",\n          \"low_value\"\n        ]\n      }\n    },\n    \"low_value_flags\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"string\",\n        \"enum\": [\n          \"generic_trend_report\",\n          \"outfit_only\",\n          \"motivational\",\n          \"hiring_spam\",\n          \"generic_ai_hype\",\n          \"pure_kpi_optimization\",\n          \"shallow_luxury_commentary\",\n          \"product_promotion\",\n          \"none\"\n        ]\n      }\n    },\n    \"emerging_themes\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"string\"\n      }\n    },\n    \"why_relevant\": {\n      \"type\": \"string\"\n    },\n    \"key_thesis\": {\n      \"type\": \"string\"\n    },\n    \"rationale\": {\n      \"type\": \"string\"\n    },\n    \"confidence\": {\n      \"type\": \"number\",\n      \"minimum\": 0,\n      \"maximum\": 1\n    }\n  }\n};\nconst scoringSystemPrompt = \"# Discourse Scoring System Prompt\\n\\nYou are the scoring layer for a Fashion Merchandising and Retail Discourse Intelligence System.\\n\\nScore LinkedIn posts, authors, and comments for strategic monitoring value. The system is not looking for generic fashion content. It is looking for discussions about how customer decisions are formed, interpreted, and misunderstood inside modern retail and merchandising systems.\\n\\nCore thesis:\\n\\nModern fashion merchandising and retail measure outcomes well, but often poorly understand the real processes behind customer decision formation: fit perception, body proportions, color perception, emotional confidence, identity alignment, lifestyle compatibility, aspirations, uncertainty, mismatch, and retail experience.\\n\\nHigh-value signals:\\n\\n- structural transformation in merchandising or retail\\n- blind spots in sell-through, conversion, returns, rotations, or performance analytics\\n- hidden customer logic or missing decision visibility\\n- editorial retail, experiential retail, clienteling, identity-driven retail, or retail meaning\\n- product/customer, fit, identity, expectation, or emotional mismatch\\n- comments that contain thoughtful replies, disagreement, intellectual continuation, or hidden thinkers\\n- content that creates a natural opening to extend the conceptual framework\\n\\nLow-value signals:\\n\\n- generic trend reports\\n- outfit-only or aesthetic-only posts\\n- motivational content\\n- hiring spam\\n- generic AI hype\\n- pure KPI optimization\\n- shallow luxury commentary\\n- pure product promotion\\n\\nAuthor types:\\n\\n- `thinker`: develops original ideas, frameworks, blind spots, or structural problems.\\n- `interpreter_connector`: connects strategy to operations or vision to execution.\\n- `operator`: credible practitioner but mostly operational or descriptive.\\n- `promoter`: primarily promotes products, services, hiring, or events.\\n- `unknown`: insufficient evidence.\\n\\nScoring:\\n\\n- `author_score`: 0-100, based on thinking depth, discourse relevance, seniority/credibility, network centrality signals, and openness to new frameworks.\\n- `post_score`: 0-100, based on thematic relevance, conceptual depth, discussion potential, strategic value, and novelty.\\n- `comment_score`: 0-100, based on discussion depth, intellectual engagement, hidden-thinker signal, and continuation value.\\n\\nReturn only JSON matching the provided schema. Do not include prose outside JSON.\";\nconst buildOpenAiBody = (source) => ({\n  model: $env.OPENAI_SCORING_MODEL || 'gpt-5.4-mini',\n  input: [\n    { role: 'system', content: scoringSystemPrompt },\n    { role: 'user', content: 'Analyze this normalized LinkedIn record and return strict JSON.\\n\\n' + JSON.stringify(source, null, 2) }\n  ],\n  text: {\n    format: {\n      type: 'json_schema',\n      name: 'discourse_score',\n      strict: true,\n      schema: scoringSchema\n    }\n  }\n});\nconst pushNormalized = (entry) => {\n  const record = entry && entry.json ? entry.json : entry;\n  if (!record) return;\n  record.openai_body = buildOpenAiBody(record);\n  normalized.push({ json: record });\n};\nfor (const row of rows) {\n  const authorSource = row.author || row.user || row.profile || row.owner || {};\n  const parentUrl = String(pick(row, ['parentUrl', 'parentPostUrl', 'parentPostURL', 'postUrl', 'url']) || '');\n  const postUrl = String(pick(row, ['url', 'postUrl', 'link', 'linkedinUrl', 'postLink']) || parentUrl || '');\n  const parentPostCanonicalId = String(pick(row, ['parent_post_canonical_id', 'parentPostCanonicalId', 'parentPostId', 'postId']) || postUrl || '');\n  const rowType = String(pick(row, ['content_type', 'type', 'recordType', 'objectType']) || '').toLowerCase();\n  const text = clean(pick(row, ['text', 'postText', 'content', 'description', 'body', 'commentary']));\n  const commentsValue = pick(row, ['comments', 'replies', 'postComments', 'topComments']);\n  const authorName = clean(pick(authorSource, ['name', 'fullName', 'author_name', 'authorName', 'userName', 'profileName']) || pick(row, ['authorName', 'userName', 'profileName', 'author_name', 'name']) || 'Unknown author');\n  const authorUrl = String(pick(authorSource, ['url', 'linkedinUrl', 'profileUrl', 'author_url', 'authorUrl', 'authorProfileUrl']) || pick(row, ['authorUrl', 'profileUrl', 'author_url']) || '');\n  const role = clean(pick(authorSource, ['headline', 'role', 'title', 'authorRole', 'authorHeadline']) || pick(row, ['authorHeadline', 'authorRole', 'headline']) || '');\n  const canonicalId = String(pick(row, ['canonical_id', 'id', 'urn', 'activityId', 'postId']) || postUrl || 'post:' + hash(authorName + ':' + text));\n  const publishedAt = toAirtableDate(pick(row, ['publishedAt', 'postedAt', 'date', 'createdAt', 'timestamp', 'published_at']));\n  const searchQuery = clean(pick(row, ['searchQuery', 'search_query']) || (row.query && row.query.search) || (row.query && row.query.keywords) || '');\n  const matchedKeywords = searchQuery ? [searchQuery] : [];\n\n  const postComments = Array.isArray(commentsValue) ? commentsValue.slice(0, 20).map(toComment).filter((comment) => comment.text) : [];\n  pushNormalized({\n    json: {\n      canonical_id: canonicalId,\n      content_type: postComments.length ? 'post_with_comments' : 'post',\n      url: postUrl,\n      text,\n      published_at: toAirtableDate(pick(row, ['publishedAt', 'postedAt', 'date', 'createdAt', 'timestamp', 'published_at'])),\n      author: {\n        canonical_id: authorUrl || 'author:' + hash(authorName || canonicalId),\n        name: authorName || 'Unknown author',\n        url: authorUrl,\n        role\n      },\n      comments: postComments,\n      primary_keyword: matchedKeywords[0] || '',\n      matched_keywords: matchedKeywords,\n      search_keywords_text: matchedKeywords.join(', '),\n      raw_source: JSON.stringify(row).slice(0, 90000),\n      seen_at: new Date().toISOString()\n    }\n  });\n}\n\nconst seen = new Set();\nreturn normalized.filter((item) => {\n  const key = item.json.canonical_id + '|' + item.json.text;\n  if (seen.has(key)) return false;\n  seen.add(key);\n  return true;\n});"
      },
      "id": "1c6a845b-95cc-4dd8-8361-98c8f82d8d86",
      "name": "Normalize Posts Records",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -360,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/responses",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{$env.OPENAI_API_KEY}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{$json.openai_body}}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          },
          "timeout": 120000
        }
      },
      "id": "d7d754c7-20c3-4779-930d-e37401f4de31",
      "name": "Score Posts with OpenAI",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -100,
        120
      ]
    },
    {
      "parameters": {
        "jsCode": "const readOutputText = (response) => {\n  if (response.output_text) return response.output_text;\n  if (Array.isArray(response.output)) {\n    for (const output of response.output) {\n      for (const content of output.content || []) {\n        if (content.type === 'output_text' && content.text) return content.text;\n        if (content.text) return content.text;\n      }\n    }\n  }\n  if (response.choices && response.choices[0] && response.choices[0].message) return response.choices[0].message.content;\n  return '';\n};\n\nreturn items.map((item) => {\n  const source = item.json;\n  const text = readOutputText(source);\n  let score;\n  try {\n    score = JSON.parse(text);\n  } catch (error) {\n    score = {\n      canonical_id: source && source.canonical_id ? source.canonical_id : 'parse_error',\n      content_type: 'post',\n      language: 'unknown',\n      author_type: 'unknown',\n      author_score: 0,\n      post_score: 0,\n      comment_score: 0,\n      discussion_value: 0,\n      strategic_interaction_potential: 0,\n      recommended_action: 'ignore',\n      relevance_tags: ['low_value'],\n      low_value_flags: ['none'],\n      emerging_themes: [],\n      why_relevant: '',\n      key_thesis: '',\n      rationale: 'OpenAI response parse failed: ' + error.message,\n      confidence: 0\n    };\n  }\n\n  const band = (value) => {\n    const n = Number(value || 0);\n    if (n >= 75) return 'high';\n    if (n >= 45) return 'medium';\n    return 'low';\n  };\n\n  const expected = source.expected || null;\n  const comparison = expected ? {\n    post_score: expected.post_score || null,\n    author_score: expected.author_score || null,\n    discussion_value: expected.discussion_value || null,\n    strategic_interaction_potential: expected.strategic_interaction_potential || null,\n    matches_expected: {\n      post_score: expected.post_score ? band(score.post_score) === expected.post_score : null,\n      author_score: expected.author_score ? band(score.author_score) === expected.author_score : null,\n      discussion_value: expected.discussion_value ? band(score.discussion_value) === expected.discussion_value : null,\n      strategic_interaction_potential: expected.strategic_interaction_potential ? band(score.strategic_interaction_potential) === expected.strategic_interaction_potential : null\n    }\n  } : null;\n\n  return {\n    json: {\n      score,\n      score_bands: {\n        author_score: band(score.author_score),\n        post_score: band(score.post_score),\n        comment_score: band(score.comment_score),\n        discussion_value: band(score.discussion_value),\n        strategic_interaction_potential: band(score.strategic_interaction_potential)\n      },\n      comparison,\n      openai_response_id: source.id || ''\n    }\n  };\n});"
      },
      "id": "efb83a6b-f7c9-4cde-a2fb-9c79113d7ba1",
      "name": "Parse Post Score",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        140,
        120
      ]
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "id": "ff4af0eb-fc8d-4f73-a57a-f38fa5196b6e",
      "name": "Merge Post Candidate and Score",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        380,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "const minScore = Number($env.COMMENT_TOP_POST_MIN_SCORE || $env.TELEGRAM_MIN_SCORE || 60);\nconst maxPosts = Number($env.COMMENT_TOP_POST_LIMIT || 10);\n\nconst scored = items\n  .map((item) => item.json)\n  .filter((candidate) => candidate && String(candidate.content_type || 'post') !== 'comment');\n\nconst scoreValue = (candidate) => {\n  const score = candidate.score || {};\n  const candidates = [\n    score.post_score,\n    candidate.post_score,\n    candidate.postScore,\n    candidate.score_post,\n    score.discussion_value,\n    candidate.discussion_value,\n    candidate.strategic_interaction_potential,\n    0\n  ];\n  return Number(candidates.find((value) => value !== undefined && value !== null && value !== '') || 0);\n};\n\nconst actionValue = (candidate) => {\n  const score = candidate.score || {};\n  return String(score.recommended_action || candidate.recommended_action || candidate.recommendedAction || 'monitor');\n};\n\nconst withUrls = scored\n  .map((candidate, index) => ({\n    candidate,\n    index,\n    postUrl: String(candidate.url || candidate.post_url || candidate.postUrl || '').trim()\n  }))\n  .filter((entry) => entry.postUrl);\n\nconst ranked = withUrls.slice().sort((a, b) => scoreValue(b.candidate) - scoreValue(a.candidate));\nconst passing = ranked.filter((entry) => scoreValue(entry.candidate) >= minScore && actionValue(entry.candidate) !== 'ignore');\nconst selected = (passing.length ? passing : ranked).slice(0, maxPosts);\n\nreturn selected.map(({ candidate, postUrl }) => {\n  const matchedKeywords = Array.isArray(candidate.matched_keywords) ? candidate.matched_keywords.filter(Boolean).map(String) : [];\n  const keywordText = candidate.search_keywords_text || matchedKeywords.join(', ') || String(candidate.primary_keyword || '');\n  const score = candidate.score || {};\n  const author = candidate.author || candidate.parent_post_author || null;\n\n  return {\n    json: {\n      canonical_id: String(candidate.canonical_id || postUrl),\n      url: postUrl,\n      post_url: postUrl,\n      parent_post_canonical_id: String(candidate.canonical_id || postUrl),\n      parent_post_author: author,\n      parent_post_score: score,\n      parent_post_score_value: scoreValue(candidate),\n      parent_post_recommended_action: actionValue(candidate),\n      primary_keyword: String(candidate.primary_keyword || matchedKeywords[0] || 'unclassified'),\n      matched_keywords: matchedKeywords,\n      search_keywords_text: keywordText,\n      selection_reason: passing.length ? 'threshold' : 'top_n_fallback',\n      apify_input: {\n        startUrls: [{ url: postUrl }],\n        urls: [postUrl],\n        url: postUrl,\n        postUrl: postUrl,\n        scrapeComments: true,\n        scrapeReactions: false,\n        postNestedComments: true,\n        postNestedReactions: false\n      },\n      seen_at: new Date().toISOString()\n    }\n  };\n});"
      },
      "id": "f3e8a1f0-5ed7-4c82-bf39-92d8c7d4f201",
      "name": "Prepare Top Post Comment Inputs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        620,
        -220
      ]
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "f3e8a1f0-5ed7-4c82-bf39-92d8c7d4f202",
      "name": "Loop Top Post Comments",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        860,
        -220
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.apify.com/v2/actor-tasks/{{$env.APIFY_COMMENTS_TASK_ID || $env.APIFY_TASK_ID}}/run-sync-get-dataset-items?token={{$env.APIFY_TOKEN}}&timeout={{$env.APIFY_TIMEOUT_SECONDS || 300}}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{$json.apify_input}}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          },
          "timeout": 360000
        }
      },
      "id": "f3e8a1f0-5ed7-4c82-bf39-92d8c7d4f203",
      "name": "Run Apify Comments Task",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1100,
        -220
      ]
    },
    {
      "parameters": {
        "jsCode": "const source = items[0] && items[0].json ? items[0].json : {};\nconst run = source.data && typeof source.data === 'object' ? source.data : source;\nconst datasetId = run.defaultDatasetId || (run.defaultDataset && run.defaultDataset.id) || (run.storageIds && run.storageIds.datasets && run.storageIds.datasets.default) || '';\nif (!datasetId) throw new Error('Apify run response did not include defaultDatasetId');\nreturn [{\n  json: {\n    dataset_id: String(datasetId),\n    apify_run_id: String(run.id || source.id || ''),\n    apify_run_status: String(run.status || source.status || ''),\n    apify_run: run,\n    seen_at: new Date().toISOString()\n  }\n}];"
      },
      "id": "5f176c6f-313b-4fd8-948d-ce93080d29ee",
      "name": "Extract Apify Comments Dataset ID",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1380,
        -220
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://api.apify.com/v2/datasets/{{$json.dataset_id}}/items?token={{$env.APIFY_TOKEN}}&clean=1&format=json",
        "sendHeaders": false,
        "sendBody": false,
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          },
          "timeout": 360000
        }
      },
      "id": "5ad6dfa3-3d19-41fe-9894-dd3c48cf4e5d",
      "name": "Fetch Apify Comments Dataset Items",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1600,
        -220
      ]
    },
    {
      "parameters": {
        "jsCode": "const rows = [];\nfor (const item of items) {\n  const value = item.json;\n  if (Array.isArray(value)) rows.push(...value);\n  else if (Array.isArray(value.items)) rows.push(...value.items);\n  else if (Array.isArray(value.data)) rows.push(...value.data);\n  else rows.push(value);\n}\n\nconst pick = (obj, keys) => {\n  for (const key of keys) {\n    const value = obj && obj[key];\n    if (value !== undefined && value !== null && value !== '') return value;\n  }\n  return '';\n};\nconst clean = (value) => String(value || '').replace(/<[^>]+>/g, ' ').replace(/\\s+/g, ' ').trim();\nconst hash = (input) => {\n  let h = 2166136261;\n  const text = String(input || '');\n  for (let i = 0; i < text.length; i += 1) {\n    h ^= text.charCodeAt(i);\n    h += (h << 1) + (h << 4) + (h << 7) + (h << 8) + (h << 24);\n  }\n  return (h >>> 0).toString(36);\n};\nconst toAirtableDate = (value) => {\n  if (value === null || value === undefined || value === '') return null;\n  if (value instanceof Date) return Number.isNaN(value.getTime()) ? null : value.toISOString();\n  if (typeof value === 'number') {\n    const date = new Date(value > 1e12 ? value : value * 1000);\n    return Number.isNaN(date.getTime()) ? null : date.toISOString();\n  }\n  if (typeof value === 'string') {\n    const parsed = new Date(value);\n    return Number.isNaN(parsed.getTime()) ? value : parsed.toISOString();\n  }\n  if (typeof value === 'object') {\n    const candidates = [value.iso, value.value, value.datetime, value.dateTime, value.publishedAt, value.published_at, value.time, value.timestamp, value.ts, value.date, value.createdAt, value.created_at];\n    for (const candidate of candidates) {\n      const converted = toAirtableDate(candidate);\n      if (converted) return converted;\n    }\n    return null;\n  }\n  const parsed = new Date(String(value));\n  return Number.isNaN(parsed.getTime()) ? null : parsed.toISOString();\n};\nconst makeAuthor = (source, fallbackName, fallbackUrl) => {\n  const author = source || {};\n  const name = clean(pick(author, ['name', 'fullName', 'author_name', 'authorName', 'userName', 'profileName']) || fallbackName);\n  const url = String(pick(author, ['url', 'linkedinUrl', 'profileUrl', 'author_url', 'authorUrl', 'authorProfileUrl']) || fallbackUrl || '');\n  const role = clean(pick(author, ['headline', 'role', 'title', 'authorRole', 'authorHeadline', 'position']) || '');\n  return {\n    canonical_id: String(url || name || 'author:' + hash(fallbackName || fallbackUrl || 'unknown')),\n    name: name || 'Unknown author',\n    url,\n    role\n  };\n};\n\nconst normalized = [];\nconst scoringSchema = {\n  \"type\": \"object\",\n  \"additionalProperties\": false,\n  \"required\": [\n    \"canonical_id\",\n    \"content_type\",\n    \"language\",\n    \"author_type\",\n    \"author_score\",\n    \"post_score\",\n    \"comment_score\",\n    \"discussion_value\",\n    \"strategic_interaction_potential\",\n    \"recommended_action\",\n    \"relevance_tags\",\n    \"low_value_flags\",\n    \"emerging_themes\",\n    \"why_relevant\",\n    \"key_thesis\",\n    \"rationale\",\n    \"confidence\"\n  ],\n  \"properties\": {\n    \"canonical_id\": {\n      \"type\": \"string\",\n      \"description\": \"Stable ID for the analyzed post or comment.\"\n    },\n    \"content_type\": {\n      \"type\": \"string\",\n      \"enum\": [\n        \"post\",\n        \"comment\",\n        \"post_with_comments\"\n      ]\n    },\n    \"language\": {\n      \"type\": \"string\",\n      \"enum\": [\n        \"en\",\n        \"it\",\n        \"fr\",\n        \"es\",\n        \"other\",\n        \"unknown\"\n      ]\n    },\n    \"author_type\": {\n      \"type\": \"string\",\n      \"enum\": [\n        \"thinker\",\n        \"interpreter_connector\",\n        \"operator\",\n        \"promoter\",\n        \"unknown\"\n      ]\n    },\n    \"author_score\": {\n      \"type\": \"integer\",\n      \"minimum\": 0,\n      \"maximum\": 100\n    },\n    \"post_score\": {\n      \"type\": \"integer\",\n      \"minimum\": 0,\n      \"maximum\": 100\n    },\n    \"comment_score\": {\n      \"type\": \"integer\",\n      \"minimum\": 0,\n      \"maximum\": 100\n    },\n    \"discussion_value\": {\n      \"type\": \"integer\",\n      \"minimum\": 0,\n      \"maximum\": 100\n    },\n    \"strategic_interaction_potential\": {\n      \"type\": \"integer\",\n      \"minimum\": 0,\n      \"maximum\": 100\n    },\n    \"recommended_action\": {\n      \"type\": \"string\",\n      \"enum\": [\n        \"follow\",\n        \"connect\",\n        \"comment\",\n        \"monitor\",\n        \"quote_post_candidate\",\n        \"ignore\"\n      ]\n    },\n    \"relevance_tags\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"string\",\n        \"enum\": [\n          \"merchandising\",\n          \"assortment_planning\",\n          \"retail_transformation\",\n          \"editorial_retail\",\n          \"experiential_retail\",\n          \"luxury_retail\",\n          \"clienteling\",\n          \"customer_decision_making\",\n          \"subjective_decision_layer\",\n          \"mismatch\",\n          \"blind_spots\",\n          \"retail_intelligence\",\n          \"industry_evolution\",\n          \"low_value\"\n        ]\n      }\n    },\n    \"low_value_flags\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"string\",\n        \"enum\": [\n          \"generic_trend_report\",\n          \"outfit_only\",\n          \"motivational\",\n          \"hiring_spam\",\n          \"generic_ai_hype\",\n          \"pure_kpi_optimization\",\n          \"shallow_luxury_commentary\",\n          \"product_promotion\",\n          \"none\"\n        ]\n      }\n    },\n    \"emerging_themes\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"string\"\n      }\n    },\n    \"why_relevant\": {\n      \"type\": \"string\"\n    },\n    \"key_thesis\": {\n      \"type\": \"string\"\n    },\n    \"rationale\": {\n      \"type\": \"string\"\n    },\n    \"confidence\": {\n      \"type\": \"number\",\n      \"minimum\": 0,\n      \"maximum\": 1\n    }\n  }\n};\nconst scoringSystemPrompt = \"# Discourse Scoring System Prompt\\n\\nYou are the scoring layer for a Fashion Merchandising and Retail Discourse Intelligence System.\\n\\nScore LinkedIn posts, authors, and comments for strategic monitoring value. The system is not looking for generic fashion content. It is looking for discussions about how customer decisions are formed, interpreted, and misunderstood inside modern retail and merchandising systems.\\n\\nCore thesis:\\n\\nModern fashion merchandising and retail measure outcomes well, but often poorly understand the real processes behind customer decision formation: fit perception, body proportions, color perception, emotional confidence, identity alignment, lifestyle compatibility, aspirations, uncertainty, mismatch, and retail experience.\\n\\nHigh-value signals:\\n\\n- structural transformation in merchandising or retail\\n- blind spots in sell-through, conversion, returns, rotations, or performance analytics\\n- hidden customer logic or missing decision visibility\\n- editorial retail, experiential retail, clienteling, identity-driven retail, or retail meaning\\n- product/customer, fit, identity, expectation, or emotional mismatch\\n- comments that contain thoughtful replies, disagreement, intellectual continuation, or hidden thinkers\\n- content that creates a natural opening to extend the conceptual framework\\n\\nLow-value signals:\\n\\n- generic trend reports\\n- outfit-only or aesthetic-only posts\\n- motivational content\\n- hiring spam\\n- generic AI hype\\n- pure KPI optimization\\n- shallow luxury commentary\\n- pure product promotion\\n\\nAuthor types:\\n\\n- `thinker`: develops original ideas, frameworks, blind spots, or structural problems.\\n- `interpreter_connector`: connects strategy to operations or vision to execution.\\n- `operator`: credible practitioner but mostly operational or descriptive.\\n- `promoter`: primarily promotes products, services, hiring, or events.\\n- `unknown`: insufficient evidence.\\n\\nScoring:\\n\\n- `author_score`: 0-100, based on thinking depth, discourse relevance, seniority/credibility, network centrality signals, and openness to new frameworks.\\n- `post_score`: 0-100, based on thematic relevance, conceptual depth, discussion potential, strategic value, and novelty.\\n- `comment_score`: 0-100, based on discussion depth, intellectual engagement, hidden-thinker signal, and continuation value.\\n\\nReturn only JSON matching the provided schema. Do not include prose outside JSON.\";\nconst buildOpenAiBody = (source) => ({\n  model: $env.OPENAI_SCORING_MODEL || 'gpt-5.4-mini',\n  input: [\n    { role: 'system', content: scoringSystemPrompt },\n    { role: 'user', content: 'Analyze this normalized LinkedIn record and return strict JSON.\\n\\n' + JSON.stringify(source, null, 2) }\n  ],\n  text: {\n    format: {\n      type: 'json_schema',\n      name: 'discourse_score',\n      strict: true,\n      schema: scoringSchema\n    }\n  }\n});\nconst pushNormalized = (entry) => {\n  const record = entry && entry.json ? entry.json : entry;\n  if (!record) return;\n  record.openai_body = buildOpenAiBody(record);\n  normalized.push({ json: record });\n};\nfor (const row of rows) {\n  const query = row.query || {};\n  const actorSource = row.actor || row.author || row.user || row.profile || row.owner || {};\n  const parentPostUrl = String(pick(query, ['post', 'url']) || pick(row, ['parentUrl', 'parentPostUrl', 'parentPostURL', 'postUrl', 'shareLinkedinUrl', 'shareUrl']) || '');\n  const commentUrl = String(pick(row, ['linkedinUrl', 'commentUrl', 'url']) || '');\n  const postUrl = String(pick(row, ['postUrl', 'link', 'postLink']) || parentPostUrl || '');\n  const parentPostCanonicalId = String(pick(row, ['parent_post_canonical_id', 'parentPostCanonicalId', 'parentPostId']) || String(pick(row, ['postId']) || '').trim() || postUrl || '');\n  const rowType = String(pick(row, ['content_type', 'type', 'recordType', 'objectType']) || '').toLowerCase();\n  const commentText = clean(pick(row, ['commentary', 'text', 'commentText', 'content', 'body']));\n  const commentsValue = pick(row, ['comments', 'replies', 'postComments', 'topComments']);\n  const authorName = clean(pick(actorSource, ['name', 'fullName', 'author_name', 'authorName', 'userName', 'profileName']) || pick(row, ['authorName', 'userName', 'profileName', 'author_name', 'name']) || 'Unknown author');\n  const authorUrl = String(pick(actorSource, ['url', 'linkedinUrl', 'profileUrl', 'author_url', 'authorUrl', 'authorProfileUrl']) || pick(row, ['authorUrl', 'profileUrl', 'author_url']) || '');\n  const canonicalId = String(pick(row, ['canonical_id', 'id', 'urn', 'activityId', 'commentId']) || 'comment:' + hash(parentPostCanonicalId + ':' + authorName + ':' + commentText));\n  const publishedAt = toAirtableDate(pick(row, ['publishedAt', 'postedAt', 'date', 'createdAt', 'timestamp', 'published_at']));\n\n  const pushComment = (text, source, suffix) => {\n    const cleaned = clean(text);\n    if (!cleaned) return;\n    const resolvedId = suffix === null || suffix === undefined || suffix === '' ? canonicalId : canonicalId + ':' + suffix;\n    pushNormalized({\n      json: {\n        canonical_id: resolvedId,\n        content_type: 'comment',\n        url: commentUrl || parentPostUrl,\n        parent_post_canonical_id: parentPostCanonicalId,\n        parent_post_url: parentPostUrl,\n        text: cleaned,\n        published_at: publishedAt,\n        author: makeAuthor(actorSource, authorName, authorUrl),\n        comments: [],\n        raw_source: JSON.stringify(source || row).slice(0, 90000),\n        seen_at: new Date().toISOString()\n      }\n    });\n  };\n\n  if (Array.isArray(commentsValue) && commentsValue.length) {\n    commentsValue.slice(0, 20).forEach((comment, index) => {\n      const source = comment && typeof comment === 'object' ? comment : { text: comment };\n      const text = pick(source, ['text', 'commentText', 'content', 'body']) || source;\n      const commenter = source.actor || source.author || source.user || source.profile || {};\n      pushNormalized({\n        json: {\n          canonical_id: String(pick(source, ['canonical_id', 'id', 'urn']) || 'comment:' + hash(parentPostCanonicalId + ':' + index + ':' + clean(text))),\n          content_type: 'comment',\n          url: commentUrl || parentPostUrl,\n          parent_post_canonical_id: parentPostCanonicalId,\n          parent_post_url: parentPostUrl,\n          text: clean(text),\n          published_at: toAirtableDate(pick(source, ['publishedAt', 'postedAt', 'date', 'createdAt', 'timestamp', 'published_at'])) || publishedAt,\n          author: makeAuthor(commenter, clean(pick(commenter, ['name', 'fullName']) || pick(source, ['authorName', 'userName', 'name']) || 'Unknown author'), String(pick(commenter, ['url', 'linkedinUrl', 'profileUrl']) || pick(source, ['authorUrl', 'profileUrl']) || '')),\n          comments: [],\n          raw_source: JSON.stringify(source).slice(0, 90000),\n          seen_at: new Date().toISOString()\n        }\n      });\n    });\n    continue;\n  }\n\n  const looksLikeComment = rowType.includes('comment') || Boolean(pick(row, ['parentId', 'parentUrn', 'parentPostId', 'parentCommentId', 'replyTo', 'inReplyTo'])) || Boolean(commentText);\n  if (looksLikeComment) {\n    pushComment(commentText, row);\n  }\n}\n\n\nconst seen = new Set();\nreturn normalized.filter((item) => {\n  const key = item.json.canonical_id + '|' + item.json.text;\n  if (seen.has(key)) return false;\n  seen.add(key);\n  return true;\n});"
      },
      "id": "f3e8a1f0-5ed7-4c82-bf39-92d8c7d4f204",
      "name": "Normalize Comment Records",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1340,
        -220
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/responses",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{$env.OPENAI_API_KEY}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{$json.openai_body}}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          },
          "timeout": 120000
        }
      },
      "id": "f3e8a1f0-5ed7-4c82-bf39-92d8c7d4f205",
      "name": "Score Comments with OpenAI",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1580,
        -220
      ]
    },
    {
      "parameters": {
        "jsCode": "const readOutputText = (response) => {\n  if (response.output_text) return response.output_text;\n  if (Array.isArray(response.output)) {\n    for (const output of response.output) {\n      for (const content of output.content || []) {\n        if (content.type === 'output_text' && content.text) return content.text;\n        if (content.text) return content.text;\n      }\n    }\n  }\n  if (response.choices && response.choices[0] && response.choices[0].message) return response.choices[0].message.content;\n  return '';\n};\n\nreturn items.map((item) => {\n  const source = item.json;\n  const text = readOutputText(source);\n  let score;\n  try {\n    score = JSON.parse(text);\n  } catch (error) {\n    score = {\n      canonical_id: source && source.canonical_id ? source.canonical_id : 'parse_error',\n      content_type: 'post',\n      language: 'unknown',\n      author_type: 'unknown',\n      author_score: 0,\n      post_score: 0,\n      comment_score: 0,\n      discussion_value: 0,\n      strategic_interaction_potential: 0,\n      recommended_action: 'ignore',\n      relevance_tags: ['low_value'],\n      low_value_flags: ['none'],\n      emerging_themes: [],\n      why_relevant: '',\n      key_thesis: '',\n      rationale: 'OpenAI response parse failed: ' + error.message,\n      confidence: 0\n    };\n  }\n\n  const band = (value) => {\n    const n = Number(value || 0);\n    if (n >= 75) return 'high';\n    if (n >= 45) return 'medium';\n    return 'low';\n  };\n\n  const expected = source.expected || null;\n  const comparison = expected ? {\n    post_score: expected.post_score || null,\n    author_score: expected.author_score || null,\n    discussion_value: expected.discussion_value || null,\n    strategic_interaction_potential: expected.strategic_interaction_potential || null,\n    matches_expected: {\n      post_score: expected.post_score ? band(score.post_score) === expected.post_score : null,\n      author_score: expected.author_score ? band(score.author_score) === expected.author_score : null,\n      discussion_value: expected.discussion_value ? band(score.discussion_value) === expected.discussion_value : null,\n      strategic_interaction_potential: expected.strategic_interaction_potential ? band(score.strategic_interaction_potential) === expected.strategic_interaction_potential : null\n    }\n  } : null;\n\n  return {\n    json: {\n      score,\n      score_bands: {\n        author_score: band(score.author_score),\n        post_score: band(score.post_score),\n        comment_score: band(score.comment_score),\n        discussion_value: band(score.discussion_value),\n        strategic_interaction_potential: band(score.strategic_interaction_potential)\n      },\n      comparison,\n      openai_response_id: source.id || ''\n    }\n  };\n});"
      },
      "id": "f3e8a1f0-5ed7-4c82-bf39-92d8c7d4f206",
      "name": "Parse Comment Score",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1820,
        -220
      ]
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "id": "f3e8a1f0-5ed7-4c82-bf39-92d8c7d4f207",
      "name": "Merge Comment Candidate and Score",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        2060,
        -220
      ]
    },
    {
      "parameters": {
        "mode": "append",
        "options": {}
      },
      "id": "f3e8a1f0-5ed7-4c82-bf39-92d8c7d4f208",
      "name": "Merge Scored Posts and Comments",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        2300,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "const toSelects = (value) => Array.isArray(value) ? value.filter(Boolean).map(String).slice(0, 20) : [];\nconst truncate = (value, size = 95000) => String(value || '').slice(0, size);\nconst maxRecordsPerRequest = 10;\nconst tables = new Map();\n\nconst getTableMap = (table) => {\n  if (!tables.has(table)) tables.set(table, new Map());\n  return tables.get(table);\n};\n\nconst setRecord = (table, canonicalId, fields) => {\n  if (!canonicalId) return;\n  getTableMap(table).set(String(canonicalId), { fields });\n};\n\nfor (const item of items) {\n  const candidate = item.json;\n  const score = candidate.score || {};\n  const author = candidate.author || {};\n  const now = candidate.seen_at || new Date().toISOString();\n  const authorId = String(author.canonical_id || author.url || author.name || candidate.canonical_id || '');\n  const candidateKeywords = Array.isArray(candidate.matched_keywords) ? candidate.matched_keywords.filter(Boolean).map(String) : [];\n  const keywordText = candidate.search_keywords_text || candidateKeywords.join(', ') || String(candidate.primary_keyword || '');\n  const isComment = String(candidate.content_type || '') === 'comment';\n\n  setRecord('Authors', authorId, {\n    'Canonical ID': authorId,\n    'Name': String(author.name || 'Unknown author'),\n    'LinkedIn URL': String(author.url || ''),\n    'Role': String(author.role || ''),\n    'Author Type Text': String(score.author_type || 'unknown'),\n    'Author Score': Number(score.author_score || 0),\n    'Geography': '',\n    'Language Hints': String(score.language || 'unknown'),\n    'Rationale': truncate(score.rationale, 5000),\n    'Last Seen': now\n  });\n\n  if (isComment) {\n    setRecord('Comments', candidate.canonical_id, {\n      'Canonical ID': String(candidate.canonical_id),\n      'Parent Post ID': String(candidate.parent_post_canonical_id || ''),\n      'Parent Post URL': String(candidate.parent_post_url || candidate.url || ''),\n      'Commenter Name': String(author.name || 'Unknown author'),\n      'Commenter URL': String(author.url || ''),\n      'Comment Text': truncate(candidate.text || '', 50000),\n      'Comment Score': Number(score.comment_score || 0),\n      'Hidden Thinker': Number(score.comment_score || 0) >= 75,\n      'Discussion Value': Number(score.discussion_value || 0),\n      'Recommended Action': String(score.recommended_action || 'monitor'),\n      'Recommended Action Text': String(score.recommended_action || 'monitor'),\n      'Why Relevant': truncate(score.why_relevant, 5000),\n      'Seen At': now\n    });\n    continue;\n  }\n\n  setRecord('Posts', candidate.canonical_id, {\n    'Canonical ID': String(candidate.canonical_id),\n    'Post URL': String(candidate.url || ''),\n    'Author Canonical ID': authorId,\n    'Author Name': String(author.name || 'Unknown author'),\n    'Author Role': String(author.role || ''),\n    'Post Text': truncate(candidate.text, 50000),\n    'Published At': candidate.published_at || null,\n    'Language': String(score.language || 'unknown'),\n    'Post Score': Number(score.post_score || 0),\n    'Author Score Snapshot': Number(score.author_score || 0),\n    'Discussion Value': Number(score.discussion_value || 0),\n    'Strategic Interaction Potential': Number(score.strategic_interaction_potential || 0),\n    'Recommended Action': String(score.recommended_action || 'ignore'),\n    'Recommended Action Text': String(score.recommended_action || 'ignore'),\n    'Relevance Tags': toSelects(score.relevance_tags),\n    'Low Value Flags': toSelects(score.low_value_flags),\n    'Emerging Themes': toSelects(score.emerging_themes),\n    'Relevance Tags Text': toSelects(score.relevance_tags).join(', '),\n    'Low Value Flags Text': toSelects(score.low_value_flags).join(', '),\n    'Emerging Themes Text': toSelects(score.emerging_themes).join(', '),\n    'Search Keywords Text': keywordText,\n    'Why Relevant': truncate(score.why_relevant, 5000),\n    'Key Thesis': truncate(score.key_thesis, 5000),\n    'Scoring Rationale': truncate(score.rationale, 5000),\n    'Raw Source': truncate(candidate.raw_source),\n    'Seen At': now\n  });\n}\n\nconst batches = [];\nfor (const [table, recordsMap] of tables.entries()) {\n  const records = [...recordsMap.values()];\n  for (let index = 0; index < records.length; index += maxRecordsPerRequest) {\n    const batch = records.slice(index, index + maxRecordsPerRequest);\n    batches.push({\n      json: {\n        table,\n        record_count: batch.length,\n        batch_index: Math.floor(index / maxRecordsPerRequest) + 1,\n        body: {\n          typecast: true,\n          performUpsert: { fieldsToMergeOn: ['Canonical ID'] },\n          records: batch\n        }\n      }\n    });\n  }\n}\n\nreturn batches;"
      },
      "id": "7fc5fb61-d8c2-4cb3-8892-fefc16c17d94",
      "name": "Prepare Airtable Upserts",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2540,
        -180
      ]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://api.airtable.com/v0/{{$env.AIRTABLE_BASE_ID}}/{{$json.table}}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{$env.AIRTABLE_API_KEY}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{$json.body}}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          },
          "timeout": 120000
        }
      },
      "id": "455c7d47-b04e-4567-9ad7-183ec59ceb25",
      "name": "Airtable Upsert",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2780,
        -180
      ],
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 30000
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "2e1490a0-5ed7-4c2d-9f7a-b36de5b39f6f",
      "name": "Loop Airtable Writes",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        3020,
        -180
      ]
    },
    {
      "parameters": {
        "jsCode": "const delayMs = Number($env.AIRTABLE_BETWEEN_WRITE_MS || 400);\nreturn new Promise((resolve) => setTimeout(() => resolve(items), Math.max(0, delayMs)));"
      },
      "id": "54f3b1a4-2b99-4984-9f84-c5c57dbe2d8a",
      "name": "Pause Between Airtable Writes",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3260,
        -180
      ]
    },
    {
      "parameters": {
        "jsCode": "const minScore = Number($env.TELEGRAM_MIN_SCORE || 60);\nconst maxLinksPerKeyword = Number($env.TELEGRAM_MAX_LINKS_PER_KEYWORD || 5);\nconst maxComments = Number($env.TELEGRAM_MAX_COMMENT_HIGHLIGHTS || 8);\nconst escapeHtml = (value) => String(value || '').replace(/&/g, '&amp;').replace(/</g, '&lt;').replace(/>/g, '&gt;');\nconst nl = String.fromCharCode(10);\nconst scored = items.map((item) => item.json).filter((candidate) => candidate.score);\nconst overallScore = (candidate) => Math.max(\n  Number(candidate.score.post_score || 0),\n  Number(candidate.score.comment_score || 0),\n  Number(candidate.score.discussion_value || 0),\n  Number(candidate.score.strategic_interaction_potential || 0)\n);\nconst posts = scored.filter((candidate) => String(candidate.content_type || 'post') !== 'comment');\nconst comments = scored.filter((candidate) => String(candidate.content_type || '') === 'comment');\nconst relevantPosts = posts.filter((candidate) => overallScore(candidate) >= minScore && candidate.score.recommended_action !== 'ignore');\nconst relevantComments = comments.filter((candidate) => overallScore(candidate) >= minScore && candidate.score.recommended_action !== 'ignore');\nconst themeCounts = new Map();\nfor (const candidate of relevantPosts.concat(relevantComments)) {\n  for (const theme of candidate.score.emerging_themes || []) {\n    const key = String(theme).trim();\n    if (!key) continue;\n    themeCounts.set(key, (themeCounts.get(key) || 0) + 1);\n  }\n}\nconst themes = [...themeCounts.entries()].sort((a, b) => b[1] - a[1]).slice(0, 8).map(([theme]) => theme);\nconst keywordGroups = new Map();\nfor (const candidate of relevantPosts) {\n  const keywords = Array.isArray(candidate.matched_keywords) && candidate.matched_keywords.length ? candidate.matched_keywords : [candidate.primary_keyword || candidate.search_query || 'unclassified'];\n  const keyword = String(keywords[0] || 'unclassified').trim() || 'unclassified';\n  if (!keywordGroups.has(keyword)) keywordGroups.set(keyword, []);\n  keywordGroups.get(keyword).push(candidate);\n}\nconst keywordEntries = [...keywordGroups.entries()].sort((a, b) => {\n  const aMax = Math.max(...a[1].map((candidate) => overallScore(candidate)));\n  const bMax = Math.max(...b[1].map((candidate) => overallScore(candidate)));\n  if (bMax !== aMax) return bMax - aMax;\n  return b[1].length - a[1].length;\n});\nconst keywordLines = keywordEntries.map(([keyword, candidates]) => {\n  const sortedCandidates = candidates.slice().sort((a, b) => overallScore(b) - overallScore(a)).slice(0, maxLinksPerKeyword);\n  const links = sortedCandidates.map((candidate) => {\n    const score = overallScore(candidate);\n    const label = candidate.author && candidate.author.name ? candidate.author.name : 'post';\n    const link = candidate.url ? '<a href=\"' + escapeHtml(candidate.url) + '\">' + escapeHtml(label) + '</a>' : escapeHtml(label);\n    return link + ' - ' + score + '/100';\n  });\n  return escapeHtml(keyword) + ' - ' + links.join(', ');\n});\nconst commentLines = relevantComments\n  .slice()\n  .sort((a, b) => overallScore(b) - overallScore(a))\n  .slice(0, maxComments)\n  .map((candidate) => {\n    const score = overallScore(candidate);\n    const parentLink = candidate.parent_post_url || candidate.url || '';\n    const label = candidate.author && candidate.author.name ? candidate.author.name : 'comment';\n    const link = parentLink ? '<a href=\"' + escapeHtml(parentLink) + '\">' + escapeHtml(label) + '</a>' : escapeHtml(label);\n    return link + ' - ' + score + '/100' + (candidate.text ? nl + escapeHtml(candidate.text.slice(0, 220)) : '');\n  });\nconst date = new Date().toISOString().slice(0, 10);\nlet text = '<b>Daily LinkedIn Discourse Digest</b>' + nl + date + nl + nl;\ntext += '<b>Relevant by keyword</b>' + nl;\ntext += keywordLines.length ? keywordLines.join(nl) : 'No posts crossed the score threshold.';\ntext += nl + nl + '<b>Top Comments</b>' + nl;\ntext += commentLines.length ? commentLines.join(nl + nl) : 'No comment highlights crossed the score threshold.';\ntext += nl + nl + '<b>Emerging Themes</b>' + nl;\ntext += themes.length ? themes.map((theme) => '- ' + escapeHtml(theme)).join(nl) : 'No strong themes yet.';\n\nif (text.length > 3900) text = text.slice(0, 3850) + nl + nl + 'Digest truncated in Telegram; full records are in Airtable.';\n\nreturn [{\n  json: {\n    digest_date: date,\n    telegramText: text,\n    top_post_count: relevantPosts.length,\n    top_comment_count: relevantComments.length,\n    emerging_themes: themes,\n    search_keywords_text: keywordEntries.map(([keyword]) => keyword).join(', ')\n  }\n}];"
      },
      "id": "ba91e79a-863c-4e20-9cfc-a569a0c3dc38",
      "name": "Build Telegram Digest",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2540,
        120
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/bot{{$env.TELEGRAM_BOT_TOKEN}}/sendMessage",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { chat_id: $env.TELEGRAM_CHAT_ID, text: $json.telegramText, parse_mode: \"HTML\", disable_web_page_preview: false } }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          },
          "timeout": 120000
        }
      },
      "id": "438d619f-cdbb-4114-afef-f03d6352b3b0",
      "name": "Send Telegram Digest",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2780,
        120
      ]
    },
    {
      "parameters": {
        "jsCode": "return items.map((item) => ({\n  json: {\n    table: 'Daily_Digests',\n    body: {\n      typecast: true,\n      performUpsert: { fieldsToMergeOn: ['Canonical ID'] },\n      records: [{ fields: {\n        'Canonical ID': 'digest:' + item.json.digest_date,\n        'Digest Date': item.json.digest_date,\n        'Telegram Text': item.json.telegramText,\n        'Top Post Count': Number(item.json.top_post_count || 0),\n        'Top Comment Count': Number(item.json.top_comment_count || 0),\n        'Emerging Themes Text': Array.isArray(item.json.emerging_themes) ? item.json.emerging_themes.join(', ') : '',\n        'Search Keywords Text': item.json.search_keywords_text || '',\n        'Sent Status Text': 'prepared',\n        'Sent At': new Date().toISOString()\n      }}]\n    }\n  }\n}));"
      },
      "id": "b44bbbe7-4206-4541-b2f4-09867b11e33c",
      "name": "Prepare Digest Airtable Record",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3020,
        320
      ]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://api.airtable.com/v0/{{$env.AIRTABLE_BASE_ID}}/{{$json.table}}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{$env.AIRTABLE_API_KEY}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{$json.body}}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          },
          "timeout": 120000
        }
      },
      "id": "950a30fa-bd27-435a-9f39-f6880050dd92",
      "name": "Airtable Upsert Digest",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3260,
        320
      ],
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 30000
    }
  ],
  "connections": {
    "Daily Schedule": {
      "main": [
        [
          {
            "node": "Prepare Apify Posts Task Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Prepare Apify Posts Task Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Apify Posts Task Input": {
      "main": [
        [
          {
            "node": "Run Apify Posts Task",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Run Apify Posts Task": {
      "main": [
        [
          {
            "node": "Extract Apify Posts Dataset ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Posts Records": {
      "main": [
        [
          {
            "node": "Merge Post Candidate and Score",
            "type": "main",
            "index": 0
          },
          {
            "node": "Score Posts with OpenAI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Score Posts with OpenAI": {
      "main": [
        [
          {
            "node": "Parse Post Score",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Post Score": {
      "main": [
        [
          {
            "node": "Merge Post Candidate and Score",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge Post Candidate and Score": {
      "main": [
        [
          {
            "node": "Merge Scored Posts and Comments",
            "type": "main",
            "index": 0
          },
          {
            "node": "Prepare Top Post Comment Inputs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Top Post Comment Inputs": {
      "main": [
        [
          {
            "node": "Loop Top Post Comments",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Top Post Comments": {
      "main": [
        [
          {
            "node": "Run Apify Comments Task",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Run Apify Comments Task": {
      "main": [
        [
          {
            "node": "Extract Apify Comments Dataset ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Comment Records": {
      "main": [
        [
          {
            "node": "Merge Comment Candidate and Score",
            "type": "main",
            "index": 0
          },
          {
            "node": "Score Comments with OpenAI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Score Comments with OpenAI": {
      "main": [
        [
          {
            "node": "Parse Comment Score",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Comment Score": {
      "main": [
        [
          {
            "node": "Merge Comment Candidate and Score",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge Comment Candidate and Score": {
      "main": [
        [
          {
            "node": "Merge Scored Posts and Comments",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge Scored Posts and Comments": {
      "main": [
        [
          {
            "node": "Prepare Airtable Upserts",
            "type": "main",
            "index": 0
          },
          {
            "node": "Build Telegram Digest",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Airtable Upserts": {
      "main": [
        [
          {
            "node": "Loop Airtable Writes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Airtable Writes": {
      "main": [
        [
          {
            "node": "Airtable Upsert",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Airtable Upsert": {
      "main": [
        [
          {
            "node": "Pause Between Airtable Writes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pause Between Airtable Writes": {
      "main": [
        [
          {
            "node": "Loop Airtable Writes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Telegram Digest": {
      "main": [
        [
          {
            "node": "Send Telegram Digest",
            "type": "main",
            "index": 0
          },
          {
            "node": "Prepare Digest Airtable Record",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Digest Airtable Record": {
      "main": [
        [
          {
            "node": "Airtable Upsert Digest",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Apify Posts Dataset ID": {
      "main": [
        [
          {
            "node": "Fetch Apify Posts Dataset Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Apify Posts Dataset Items": {
      "main": [
        [
          {
            "node": "Normalize Posts Records",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Apify Comments Dataset ID": {
      "main": [
        [
          {
            "node": "Fetch Apify Comments Dataset Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Apify Comments Dataset Items": {
      "main": [
        [
          {
            "node": "Normalize Comment Records",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 2,
  "updatedAt": "2026-05-21T00:00:00.000Z",
  "versionId": "9c6f09fd-e51a-4f26-88cd-c0a1e2fd70f6"
}
